<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" a href="/main.css" />
    <title>test 1</title>
  </head>
  <body>
    <li>
      <a href="/test2">test2</a>
      <a href="/test3">test3</a>
    </li>
    <h1>Currently on test 1</h1>
    <section class="form-area">
      <form action="/test2">
        <caption>
          How can we provide you with better service?
        </caption>
        <input type="text" name="message" required />
        <button type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>
